@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #F3E8FD; /* Light Beige */
  color: #2C3E50; /* Dark Charcoal */
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
